{% extends "layout/notification/email.base.html.twig" %}

{% block body %}
<div class="text-center">
    <h1>Recovery password in SnowTricks</h1>
    <p>A password recovery request was intented the {{ passwordRecovery.dateCreate|date('Y-m-d H:i') }} for your account,
        if you don't are origin of this demand, please do not treat this email, otherwise please on link bellow to reinitialize your password.</p>
    <p>
        <a href="https://snowtricks.com/{{ path("reinit_password", {'token': passwordRecovery.token}) }}" target="_blank">{{ path("forgot_password", {'token': passwordRecovery.token}) }}</a>
    </p>
</div>
{% endblock %}