<div class="modal elmt-modal-trick" tabindex="-1" role="dialog" id="trick-window">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-image: url('img/tricks/example-lg.jpg');">
                <h5 class="modal-title">Trick</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section class=""
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>
