<div class="modal elmt-modal-trick" tabindex="-1" role="dialog" id="trick-window">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-image: url('img/tricks/example-lg.jpg');">
                <h5 class="modal-title">Trick</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section class="medias row">
                    <div class="col-sm-2 col-12">
                        <img src="img/tricks/example.jpg" alt="Trick example" class="img-fluid" />
                    </div>
                    <div class="col-sm-2 col-12">
                        <img src="img/tricks/example.jpg" alt="Trick example" class="img-fluid" />
                    </div>
                    <div class="col-sm-2 col-12">
                        <img src="img/tricks/example.jpg" alt="Trick example" class="img-fluid" />
                    </div>
                    <div class="col-sm-2 col-12">
                        <img src="img/tricks/example.jpg" alt="Trick example" class="img-fluid" />
                    </div>
                    <div class="col-sm-2 col-12">
                        <iframe
                                class="img-fluid"
                                src="https://www.youtube.com/embed/0uGETVnkujA"
                                frameborder="0"
                                allow="autoplay; encrypted-media"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="col-sm-2 col-12">
                        <iframe
                                class="img-fluid"
                                src="https://www.youtube.com/embed/0uGETVnkujA"
                                frameborder="0"
                                allow="autoplay; encrypted-media"
                                allowfullscreen>
                        </iframe>
                    </div>
                </section>
                <article>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida sapien in nibh gravida sagittis. Quisque luctus hendrerit arcu, eget imperdiet eros suscipit non. Morbi ut quam eget nunc efficitur accumsan. Suspendisse ac metus viverra, fermentum velit vel, sagittis velit. Vestibulum maximus et neque ut facilisis. Suspendisse erat neque, vehicula et lectus ut, semper venenatis purus. Sed metus sapien, pulvinar quis ligula id, mollis luctus justo. Fusce tristique lectus eget dolor placerat lobortis. Nullam vulputate sit amet arcu aliquam varius. Nullam vitae augue non ante suscipit mattis.
                    </p>
                    <p>
                        Nullam mollis nisl at turpis dapibus porttitor. Ut semper orci sed dolor aliquet, id porttitor turpis consectetur. Nullam pretium rhoncus eros nec iaculis. Fusce eget mi eget eros egestas mollis ac eget quam. Nulla luctus porttitor lacus, rutrum fringilla eros consectetur quis. Sed fringilla hendrerit leo, eget finibus arcu feugiat vel. Integer rutrum risus sit amet ornare eleifend.
                    </p>
                </article>
                <section class="informations">
                    <p>
                        <b>Date de création</b> : 10/10/2018 à 11h30<br>
                        <b>Groupe</b> : Trick<br>
                        <b>Date de modification</b> : 11/10/2018 à 14h30
                    </p>
                </section>
                <section class="comments">
                    <div>
                        <form class="form form-inline">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" title="Comment" name="comment" />
                            </div>
                            <button class="btn btn-light mb-3" type="submit">Leave a comment</button>
                        </form>
                    </div>
                </section>
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>
