<a href="{{ picture.pictureRelativePath }}" style="background-image: url('{{ picture.pictureRelativePath }}')" data-featherlight>
    <span class="default-overlay">
        <i class="fa fa-search-plus"></i>
    </span>
</a>