<iframe
        class="related-media"
        src="{{ movie.urlMovie }}"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen>
</iframe>
{% if app.user is defined and app.user == trick.user %}
    <a href="{{ path('edit_movies', {'id': movie.id}) }}"><i class="fa fa-edit"></i></a>
{% endif %}