.default-overlay {
  background: transparent;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
    i {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  i {
    color: transparent;
    font-size: 40px;
    position: relative;
    top: calc(50% - 20px);
  }
}