.view-trick {

  article, .informations, .comments {
    padding: 10px 50px;
  }

  .comments > form {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    justify-content: center;
    padding: 40px 20px;
  }


  /* Mobile first */
  @include media-max($mobileBreakpoint) {
    .medias .row {
      display: none;
    }
    .medias > button {
      display: inline-block;
    }
  }

  @include media-min($mobileBreakpoint) {
    .medias > button {
      display: none;
    }
  }

  .medias {
    a {
      background-size: cover;
      display: block;
      height: 100%;
      min-height: 200px;
      position: relative;
      width: 100%;
    }

    padding: 0 0 40px 0;
  }
}