body > header {
  background: url('img/background/snowboarder.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 92vh;
  position: relative;
  width: 100%;

  h1 {
    color: white;
    height: 30px;
    position: absolute;
    text-align: center;
    top: calc(50% - 15px);
    width: 100%;
  }
}