{% extends "layout/base.html.twig" %}

{% block header %}
    <header>
        <h1>Welcome to the snow tricks ! The snowboarding tricks reference</h1>
        <a class="elmt-goto" href="/#tricks">
            <i class="fas fa-chevron-circle-down fa-3x text-white"></i>
        </a>
    </header>
{% endblock %}

{% block body %}
<div class="content" id="tricks">
        {% include 'elmt/partial/spinner-elmt.html.twig' %}
    <div class="row" id="listTricks">
        {% include 'elmt/tricks-list.html.twig' %}
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-light" id="moreTricks" data-length="{{ length }}">
                <i class="fas fa-search"></i>
                View more tricks
            </button>
            {% if app.user is defined %}
            <a class="btn btn-primary" href="{{ path('add_trick') }}">
                <i class="fas fa-plus"></i>
                Add new trick
            </a>
            {% endif %}
        </div>
    </div>
    <a class="elmt-goto" href="#tricks">
        <i class="fas fa-chevron-circle-up fa-3x"></i>
    </a>
</div>
    <script src="{{ asset('build/index.js') }}" type="text/javascript"></script>
{% endblock %}
