{% extends "layout/base.html.twig" %}

{% block body %}
<div id="tricks">
    <div class="row">
        <div class="offset-sm-1 col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-1 col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-1 col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
        <div class="col-sm-2 col-12 elmt-trick">
            <header style="background-image:url('img/tricks/example.jpg');"></header>
            <a href="#trick-window" data-toggle="modal">
                Trick name
            </a>
        </div>
    </div>
</div>
    {% include "modal/trick-window.html.twig" %}
{% endblock %}