{% extends "layout/base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="offset-md-4"></div>
        <div class="col-md-4 col-12">
            <form method="POST">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="form-group">
                    <p class="text-center">
                        <a href="{{ path('forgot_password') }}">Forgot password ?</a>
                    </p>
                    <button class="btn btn-block btn-success" type="submit">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}